################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Bethereum/DecentralizedApp/bin/Payout.bin
/Bethereum/DecentralizedApp/bin/Payout.abi
