@model RouteCoin.Web.Models.ContractCreatedModel
 
<br />

<div class="panel panel-primary">
    <div class="panel-heading">Contract Information</div>
    <div class="panel-body">
        <div class="row">
            <div class="col-md-6">
                <p>
                    <label for="SellerPublicKey">Transaction Hash:</label>
                    @Model.TransactionHash
                </p>
                <p>
                    <label for="SellerPublicKey">From Address:</label>
                    @Model.FromAddress
                </p>
                <p>
                    @Html.ActionLink("Show Contract Details", "ContractDetails", "Home", new { transactionHash = Model.TransactionHash , fromAddress = Model.FromAddress}, null)
                </p>
            </div>

        </div>
    </div>
</div>