@model RouteCoin.Web.Models.DestinationAddressRouteFoundViewModel
 
<br />

<div class="panel panel-primary">
    <div class="panel-heading">Abort</div>
    <div class="panel-body">
        <div class="row">
            <div class="col-md-6">
                <label for="SellerPublicKey">Contract State:</label>
                @Model.ContractState
            </div>
        </div>
    </div>
</div>