@model RouteCoin.Web.Models.WhisperContractCreationViewModel
@using System.Linq;

<br />

<div class="panel panel-primary">
    <div class="panel-heading">Abort</div>
    <div class="panel-body">
        <div class="row">
            <div class="col-md-6">
                <label for="SellerPublicKey">Routing Table Addresses:</label>
                @foreach (var item in Model.Neigboors)
                {
                    @item  <br />
                }
            </div>
        </div>
    </div>
</div>

<script src="~/Scripts/web3.js"></script>
<script type="text/javascript">

    // get command needed
    //geth --testnet --shh --rpc --rpcport 8545 --rpcaddr 0.0.0.0 --rpccorsdomain "*" --rpcapi "db,eth,net,web3,shh"

    var shh = web3.shh;
    var appName = "My silly app!";
    var myName = "Gav Would";
    var myIdentity = shh.newIdentity(function (error, result) {
        if (!error)
            console.log(result)
        else
            console.error(error);
    });

    shh.post({
        "from": myIdentity,
        "topic": [web3.fromAscii(appName)],
        "payload": [web3.fromAscii(myName), web3.fromAscii("What is your name?")],
        "ttl": 100,
        "priority": 1000
    },
    function (error, result) {
            if (!error)
                console.log(result)
           else
              console.error(error);
    });

    var replyWatch = shh.filter({
        "topic": [web3.fromAscii(appName), myIdentity],
        "to": myIdentity
    },
    //// could be "topic": [ web3.fromAscii(appName), null ] if we wanted to filter all such
    //// messages for this app, but we'd be unable to read the contents.
    function (m) {
        // new message m
        console.log("Reply from " + web3.toAscii(m.payload) + " whose address is " + m.from);
    });

    var broadcastWatch = shh.filter({
        "topic": [web3.fromAscii(appName)]
    },
    function (m) {
        if (m.from != myIdentity) {
            // new message m: someone's asking for our name. Let's tell them.
            var broadcaster = web3.toAscii(m.payload).substr(0, 32);
            console.log("Broadcast from " + broadcaster + "; replying to tell them our name.");
            shh.post({
                "from": eth.key,
                "to": m.from,
                "topics": [eth.fromAscii(appName), m.from],
                "payload": [eth.fromAscii(myName)],
                "ttl": 2,
                "priority": 500
            });
        }
    });

</script>